@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700|Arvo:400,700);

$font-family-sans-serif:  'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

@import 'bootstrap';              // Twitter Bootstrap

* {
  outline: 0 !important;  // removes chrome outline on inputs
  zoom: 1; *zoom: 1;      // forces hasLayout for IE 
}

body {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}

.container {
  width: 960px !important;
}

.content {
  padding: 20px 0;
  background: #fff;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Arvo';
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }

  img {
    margin-top: 7px;
    width: 280px;
    border: 6px solid white;
    @include box-shadow(0px 0px 2px rgba(0,0,0,0.5));
    margin-left: 25px;
    height: 213px;

    &.left {
      margin-left: 0;
      margin-right: 25px;
      margin-bottom: 5px;
      width: 309px;
      height: auto;
    }
  }
}

.header {
  background: image-url('bg.jpg');
  font-family: 'Arvo';

  .container {
    height: 215px;
    position: relative;
  }

  .logo {
    margin-top: 20px;
    float: left;
    padding: 10px 50px 10px 0px;

    img {
      width: 165px; 
    }
  }

  h1 {
    float: left;
    color: #fff;
    font-family: 'Arvo';
    font-size: 17px;
    margin: 0;
  }

  h2 {
    color: #fff;
    font-family: 'Arvo';
    margin: 0;
    font-size: 17px;
    float: right;
    text-align: right;

    i {
      font-size: 12px;
      top: 0px;
      right: 2px;
    }
  }

  .bottom {
    position: absolute;
    text-shadow: none;
    bottom: 0;
    right: 15px;
    padding: 8px 10px;
    left: 15px;
    background: rgba(0,0,0,0.5);
  }

  .nav {
    margin-top: 60px;

    li {
      float: left;
      a {
        color: #fff;
        background: rgba(0,0,0,0.5);
        padding: 10px 15px;
        text-shadow: none;
        font-size: 17px;

        &:hover {
          background: rgba(0,0,0,0.8);
        }

        &.active {
          font-weight: bold;
          border-bottom: 4px solid #fff;
        }
      }
    } 
  }
}
